.hdy-brackets-shell {
    padding-bottom: 30px;
}

.hdy-commandGroups {
    height: 100%;
    overflow: auto;
}

.hdy-commandResult pre {
    border-width: 0;
    border-style: none;
    border-color: transparent;
    background: transparent;
}

.hdy-command {
    border-width: 0;
    border-style: none;
    border-color: transparent;
    margin: 2px 0;
    font-family: inherit;
    font-size: inherit;
}

.hdy-commandResult {
    margin: 2px 0;
}

.hdy-command:before {
    content: attr(data-content-before);
}

div:focus {
    outline: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
}

.hdy-shell-icon {
    background: url(./hdy.brackets.shell.toolbar.png);
}
