<div id="hdy-brackets-shell" class="hdy-brackets-shell bottom-panel">
    <div class="toolbar simple-toolbar-layout">

        <div class="row-fluid">
            <div class="span2">
                <label class="title">Shell</label>
            </div>
            <div class="offset8 span2">
                <div class="btn-group pull-right right">
                    <button class="btn small hdy-brackets-shell-kill">
                        <i class="octicon octicon-x"></i>
                        Kill
                    </button>
                </div>
            </div>
            <a href="#" class="close">&times;</a>
        </div>
    </div>
    <div class="hdy-command-groups" class="resizable-content"></div>
</div>
