<div class="row-fluid">
    <div class="span9">
        <ul id="{{id}}" class="nav nav-tabs droptabs hdy-shell-tabs" role="tablist">
            <li class="active always-visible"><a href="#home" data-toggle="tab">Home</a></li>
            <li><a href="#profile" data-toggle="tab">Profile</a></li>
            <li><a href="#messages" data-toggle="tab">Messages</a></li>
            <li><a href="#settings" data-toggle="tab">This is the settings tab</a></li>
            <li><a href="#settings1" data-toggle="tab">This is second the settings tab</a></li>
            <li class="dropdown pull-right">
                <a href="#" id="myTabDrop1" class="dropdown-toggle" data-toggle="dropdown">Tabs <b class="caret"></b></a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop1">
                    </ul>
            </li>
        </ul>
    </div>
    <div class="span3">
        <div class="btn-group pull-right right">
        </div>
    </div>
</div>
