.hdy-brackets-shell {
    padding-bottom: 30px;
}

.hdy-command-groups {
    height: 100%;
    overflow: auto;
}

.hdy-command-result pre {
    border-width: 0;
    border-style: none;
    border-color: transparent;
    background: transparent;
}

.hdy-error {
    color: #ff0000;
    color: rgba(255, 0, 0, 0.6);
}

.hdy-command {
    border-width: 0;
    border-style: none;
    border-color: transparent;
    margin: 2px 0;
    font-family: inherit;
    font-size: inherit;
}

.hdy-command-result {
    margin: 2px 0;
}

.hdy-command::before {
    content: attr(data-cwd);
}

div:focus {
    outline: 0;
    border-width: 0;
    border-style: none;
    border-color: transparent;
}

.hdy-shell-icon-off {
    background: url(../images/hdy.brackets.shell.toolbar.png);
}

.hdy-shell-icon-on {
    background: url(../images/hdy.brackets.shell.toolbar.on.png);
}
